/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */
.mb0 { margin-bottom: 0px; }
.mb10 { margin-bottom: 10px; }
.tac { text-align: center; }

.top-nav li, .top-nav-options li { float: left; margin-top: 18px; padding-left: 20px; }
.top-nav-options li { padding-left: 5px; }
.header { border-bottom: 4px solid #FAE8B6; }
.header h1 { margin: 0; }
.header .header-border { border-top: 1px solid #ba9c76; }
.header .header-content { height: 70px; margin-top: 20px; }
.header a, .header a:hover { color: #666; }

.warp { margin-top: 30px; min-height: 400px; margin-bottom: 30px; }

.footer { font-size: 12px; border-top: #CCC 1px solid; padding-top: 10px; color: #666; }
