<div class="container">
    <div class="row">
      <div class="span5">
        <div class="pull-left">
          <img src="http://img3.douban.com/mpic/s4614545.jpg" />
        </div>
        <div>
          <h4>重来 REWORK</h4>
          <div>更为简单有效的商业思维</div>
        </div>
      </div>
    </div>
</div>